# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
#%pip install pymongo

In [2]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [3]:
#Importas Mongo y te contectas a Mongo

from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")

In [4]:
db = client.companies  #Creas DB

In [5]:
colec = db.collection

In [6]:
#Buscas las compa√±ias. Solo hay 1.

matching_companies = colec.find({"name": "Babelgum"},
                                {"name": 1, "_id": 0})



list(matching_companies)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [7]:
# Your Code

com = colec.find({"number_of_employees": {"$gt": 5000}}, {"name": 1, "_id": 0}).limit(20)
result = list(com)

for doc in result:
    print(doc)

{'name': 'Facebook'}
{'name': 'eBay'}
{'name': 'Cisco'}
{'name': 'Yahoo!'}
{'name': 'Google'}
{'name': 'Intel'}
{'name': 'Nintendo'}
{'name': 'Adobe Systems'}
{'name': 'Sony'}
{'name': 'PayPal'}
{'name': 'The Walt Disney Company'}
{'name': 'AOL'}
{'name': 'Webkinz'}
{'name': 'Sun Microsystems'}
{'name': 'Nokia'}
{'name': 'Rakuten'}
{'name': 'Microsoft'}
{'name': 'Apple'}
{'name': 'NetApp'}
{'name': 'Motorola Solutions'}

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [9]:
com_fund = colec.find({"founded_year": {"$gte": 2000, "$lte": 2005}},
                      {"name": 1, "founded_year": 1}
).limit(20)

com_fund

for doc in com_fund:
    print(f"Company: {doc['name']}, Foundation Year: {doc['founded_year']}")

Company: Wetpaint, Foundation Year: 2005
Company: Zoho, Foundation Year: 2005
Company: Digg, Foundation Year: 2004
Company: Facebook, Foundation Year: 2004
Company: Omnidrive, Foundation Year: 2005
Company: StumbleUpon, Foundation Year: 2002
Company: Gizmoz, Foundation Year: 2003
Company: Helio, Foundation Year: 2005
Company: Plaxo, Foundation Year: 2002
Company: Technorati, Foundation Year: 2002
Company: AddThis, Foundation Year: 2004
Company: Veoh, Foundation Year: 2004
Company: Jingle Networks, Foundation Year: 2005
Company: Meetup, Foundation Year: 2002
Company: LifeLock, Foundation Year: 2005
Company: Wesabe, Foundation Year: 2005
Company: Jangl SMS, Foundation Year: 2005
Company: SmugMug, Foundation Year: 2002
Company: Jajah, Foundation Year: 2005
Company: Skype, Foundation Year: 2003

In [8]:
# Your Code



com_fund = colec.find(
    {"founded_year": {"$gte": 2000, "$lte": 2005}},
    {"name": 1, "founded_year": 1, "_id": 0}
).limit(20)

for doc in com_fund:
    print(doc)

{'name': 'Wetpaint', 'founded_year': 2005}
{'name': 'Zoho', 'founded_year': 2005}
{'name': 'Digg', 'founded_year': 2004}
{'name': 'Facebook', 'founded_year': 2004}
{'name': 'Omnidrive', 'founded_year': 2005}
{'name': 'StumbleUpon', 'founded_year': 2002}
{'name': 'Gizmoz', 'founded_year': 2003}
{'name': 'Helio', 'founded_year': 2005}
{'name': 'Plaxo', 'founded_year': 2002}
{'name': 'Technorati', 'founded_year': 2002}
{'name': 'AddThis', 'founded_year': 2004}
{'name': 'Veoh', 'founded_year': 2004}
{'name': 'Jingle Networks', 'founded_year': 2005}
{'name': 'Meetup', 'founded_year': 2002}
{'name': 'LifeLock', 'founded_year': 2005}
{'name': 'Wesabe', 'founded_year': 2005}
{'name': 'Jangl SMS', 'founded_year': 2005}
{'name': 'SmugMug', 'founded_year': 2002}
{'name': 'Jajah', 'founded_year': 2005}
{'name': 'Skype', 'founded_year': 2003}

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
# Your Code

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [10]:
# Your Code

less_1000 = colec.find(
    {
        "founded_year": {"$lte": 2005},
        "number_of_employees": {"$lte": 1000}
    },
    {"name": 1, "founded_year": 1, "number_of_employees": 1, "_id": 0}
).sort("number_of_employees", 1).limit(20)

for doc in less_1000:
    print(f"Company: {doc['name']}, Foundation Year: {doc['founded_year']}, Number of Employees: {doc['number_of_employees']}")

Company: stylediary, Foundation Year: 2004, Number of Employees: 0
Company: PartnerUp, Foundation Year: 2005, Number of Employees: 0
Company: ThisNext, Foundation Year: 2005, Number of Employees: 0
Company: Skype, Foundation Year: 2003, Number of Employees: 0
Company: Fox Interactive Media, Foundation Year: 1979, Number of Employees: 0
Company: Woophy, Foundation Year: 2005, Number of Employees: 0
Company: Ticketmaster, Foundation Year: 1976, Number of Employees: 0
Company: Marakana, Foundation Year: 2005, Number of Employees: 0
Company: Attributor, Foundation Year: 2005, Number of Employees: 0
Company: Wirenode, Foundation Year: 2005, Number of Employees: 0
Company: YouTube, Foundation Year: 2005, Number of Employees: 0
Company: MindTouch, Foundation Year: 2004, Number of Employees: 0
Company: ElephantDrive, Foundation Year: 2005, Number of Employees: 0
Company: Yeigo, Foundation Year: 2005, Number of Employees: 0
Company: Compete, Foundation Year: 2000, Number of Employees: 0
Company: Eurekster, Foundation Year: 2004, Number of Employees: 0
Company: Simpy, Foundation Year: 2004, Number of Employees: 0
Company: Snoozester, Foundation Year: 2005, Number of Employees: 0
Company: Ceedo Technologies, Foundation Year: 2005, Number of Employees: 0
Company: Bebo, Foundation Year: 2005, Number of Employees: 0

### 6. All the companies that don't include the `partners` field.

In [11]:
# Your Code

no_partn = colec.find(
    {"partners": {"$exists": False}}
)

print(f"Company: {doc['name']} has no partner field.")

Company: Bebo has no partner field.

### 7. All the companies that have a null type of value on the `category_code` field.

In [13]:
# Your Code

null_cat = colec.find(
    {"category_code": None}
).limit(20)

for doc in null_cat:
    print(f"Company: {doc['name']}")

Company: Collective
Company: Snimmer
Company: KoolIM
Company: Level9 Media
Company: VidKing
Company: Drigg
Company: SpaceTime
Company: Touch Clarity
Company: MMDAYS
Company: Inside Group
Company: Repeater Store
Company: Tapesh
Company: iPersians
Company: NewPersia
Company: Pyra Labs
Company: Feedmap
Company: NuvoMedia
Company: Intwine
Company: The Weinstein Company
Company: ExecuNet

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [14]:
# Your Code

more_100 = colec.find(
    {"number_of_employees": {"$gte": 100, "$lte": 1000}},
    {"name": 1, "number_of_employees": 1, "_id": 0}
).limit(20)

for doc in more_100:
    print(f"Company Name: {doc['name']}, Number of Employees: {doc['number_of_employees']}")

Company Name: AdventNet, Number of Employees: 600
Company Name: AddThis, Number of Employees: 120
Company Name: OpenX, Number of Employees: 305
Company Name: LifeLock, Number of Employees: 644
Company Name: Jajah, Number of Employees: 110
Company Name: Livestream, Number of Employees: 120
Company Name: Ustream, Number of Employees: 250
Company Name: iContact, Number of Employees: 300
Company Name: Yelp, Number of Employees: 800
Company Name: Dailymotion, Number of Employees: 120
Company Name: RockYou, Number of Employees: 106
Company Name: Meebo, Number of Employees: 200
Company Name: Eventbrite, Number of Employees: 200
Company Name: Box, Number of Employees: 950
Company Name: Conduit, Number of Employees: 215
Company Name: Redfin, Number of Employees: 100
Company Name: oDesk, Number of Employees: 120
Company Name: Simply Hired, Number of Employees: 100
Company Name: PhotoBox, Number of Employees: 600
Company Name: Spreadshirt, Number of Employees: 230

### 9. Order all the companies by their IPO price in a descending order.

In [16]:
# Your Code  _sin hacer!
ipo_val=colec.find(
        {"ipo.valuation_amount": {"$exists": True}}
).sort("ipo.ipo_value", -1).limit(5)

for doc in ipo_val:
    print(f"Company: {doc['name']}, IPO Value: {doc['ipo']}")

Company: eBay, IPO Value: {'valuation_amount': None, 'valuation_currency_code': 'USD', 'pub_year': 1998, 'pub_month': 10, 'pub_day': 2, 'stock_symbol': 'NASDAQ:EBAY'}
Company: Viacom, IPO Value: {'valuation_amount': None, 'valuation_currency_code': 'USD', 'pub_year': None, 'pub_month': None, 'pub_day': None, 'stock_symbol': 'NYSE:VIA'}
Company: Facebook, IPO Value: {'valuation_amount': 104000000000.0, 'valuation_currency_code': 'USD', 'pub_year': 2012, 'pub_month': 5, 'pub_day': 18, 'stock_symbol': 'NASDAQ:FB'}
Company: Twitter, IPO Value: {'valuation_amount': 18100000000.0, 'valuation_currency_code': 'USD', 'pub_year': 2013, 'pub_month': 11, 'pub_day': 7, 'stock_symbol': 'NYSE:TWTR'}
Company: CBS, IPO Value: {'valuation_amount': None, 'valuation_currency_code': 'USD', 'pub_year': None, 'pub_month': None, 'pub_day': None, 'stock_symbol': 'NYSE:CBS'}

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [17]:
# Your Code

top_10 = colec.find(
    {},
    {"name": 1, "number_of_employees": 1, "_id": 0}
).sort("number_of_employees", -1).limit(10)

for doc in top_10:
    print(f"Company: {doc['name']}, Number of Employees: {doc['number_of_employees']}")

Company: Siemens, Number of Employees: 405000
Company: IBM, Number of Employees: 388000
Company: Toyota, Number of Employees: 320000
Company: PayPal, Number of Employees: 300000
Company: Nippon Telegraph and Telephone Corporation, Number of Employees: 227000
Company: Samsung Electronics, Number of Employees: 221726
Company: Accenture, Number of Employees: 205000
Company: Tata Consultancy Services, Number of Employees: 200300
Company: Flextronics International, Number of Employees: 200000
Company: Safeway, Number of Employees: 186000

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [19]:
# Your Code

second_sem = colec.find (
    {"founded_month": {"$gte": 6, "$lte": 12}}
).limit(20)

for doc in second_sem:
    print (f"Company: {doc['name']}, Founded Month: {doc['founded_month']}")

Company: Wetpaint, Founded Month: 10
Company: Zoho, Founded Month: 9
Company: Digg, Founded Month: 10
Company: Omnidrive, Founded Month: 11
Company: Postini, Founded Month: 6
Company: Geni, Founded Month: 6
Company: Fox Interactive Media, Founded Month: 6
Company: eBay, Founded Month: 9
Company: Joost, Founded Month: 10
Company: Plaxo, Founded Month: 11
Company: Powerset, Founded Month: 10
Company: Technorati, Founded Month: 6
Company: Sparter, Founded Month: 6
Company: Kyte, Founded Month: 12
Company: Thoof, Founded Month: 12
Company: Jingle Networks, Founded Month: 9
Company: LifeLock, Founded Month: 8
Company: Wesabe, Founded Month: 12
Company: SmugMug, Founded Month: 11
Company: Google, Founded Month: 9

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [20]:
# Your Code

before_2000 = colec.find(
    {"founded_year": {"$lt": 2000}}
).limit(20)

for doc in before_2000:
    print(f"Company: {doc['name']}, Founded Year: {doc['founded_year']}")

Company: AdventNet, Founded Year: 1996
Company: Postini, Founded Year: 1999
Company: Fox Interactive Media, Founded Year: 1979
Company: eBay, Founded Year: 1995
Company: CBS, Founded Year: 1986
Company: Viacom, Founded Year: 1971
Company: Cisco, Founded Year: 1984
Company: Yahoo!, Founded Year: 1994
Company: Google, Founded Year: 1998
Company: Intel, Founded Year: 1968
Company: SideStep, Founded Year: 1999
Company: BabyCenter, Founded Year: 1997
Company: Zazzle, Founded Year: 1999
Company: Ticketmaster, Founded Year: 1976
Company: RegOnline, Founded Year: 1996
Company: Scripps Networks Interactive, Founded Year: 1994
Company: Recipezaar, Founded Year: 1999
Company: ictv, Founded Year: 1994
Company: Piczo, Founded Year: 1990
Company: Cyworld, Founded Year: 1999

In [21]:
before_2000 = colec.find(
    {"founded_year": {"$lt": 2000}, "acquisition.price_amount": 10000000}  
)

for doc in before_2000:
    print(f"Company: {doc['name']}, Founded Year: {doc['founded_year']}")

Company: The FeedRoom, Founded Year: 1999
Company: Network Physics, Founded Year: 1999
Company: Wavesat, Founded Year: 1993
Company: Datum Legal, Founded Year: 1994

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [22]:
# Your Code

after_2010 =colec.find(
        { "acquisition.acquired_year": {"$gt":2010}}
).sort("acquisition.price_amount", 1).limit (5)
                                    

for doc in after_2010:
    print(f"Company: {doc['name']}, Acquisition: {doc['acquisition']['price_amount']}")

Company: Geni, Acquisition: None
Company: Mashery, Acquisition: None
Company: delicious, Acquisition: None
Company: blogTV, Acquisition: None
Company: Kyte, Acquisition: None

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [23]:
# Your Code

ordered_companies = colec.find(
{},

    {"name": 1, "founded_year": 1, "_id": 0}
).sort("founded_year", 1).limit(10)

for doc in ordered_companies:
    print(f"Company: {doc['name']}, Founded Year: {doc['founded_year']}")

Company: Info, Founded Year: None
Company: Lala, Founded Year: None
Company: NetRatings, Founded Year: None
Company: JotSpot, Founded Year: None
Company: Flektor, Founded Year: None
Company: Tun3r, Founded Year: None
Company: There, Founded Year: None
Company: SpinVox, Founded Year: None
Company: Mercora, Founded Year: None
Company: Gannett, Founded Year: None

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [24]:
# Your Code

first_seven_days = colec.find(
    {"founded_day": {"$gte": 1, "$lte": 7}}
).limit(5)

for doc in first_seven_days:
    print(f"Company: {doc['name']}, Founded Day: {doc['founded_day']}")

Company: Facebook, Founded Day: 1
Company: Omnidrive, Founded Day: 1
Company: Postini, Founded Day: 2
Company: Geni, Founded Day: 1
Company: Fox Interactive Media, Founded Day: 1

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [26]:
# Your Code

web = {
    "category_code": "web",
    "number_of_employees": {"$gt": 4000}
}


web_companies = colec.find(web).sort('number_of_employees', -1).limit(5)

for company in web_companies:
    print(f"Company: {company['name']}, Category Code: {company['category_code']}, Number of Employees: {company['number_of_employees']}")

Company: Experian, Category Code: web, Number of Employees: 15500
Company: eBay, Category Code: web, Number of Employees: 15000
Company: Yahoo!, Category Code: web, Number of Employees: 13600
Company: Los Angeles Times Media Group, Category Code: web, Number of Employees: 10000
Company: Rakuten, Category Code: web, Number of Employees: 10000

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [27]:
# Your Code

ten_mil = colec.find(
    {
        "acquisition.price_amount": {"$gt":10000000},
    "acquisition.price_currency_code": "EUR"
    }
).sort("acquisition.price_amount", 1).limit(5)

for doc in ten_mil:
    print(f"Company: {doc['name']}, Acquisition Amount: {doc['acquisition']['price_amount']} {doc['acquisition']['price_currency_code']}")

Company: Wayfinder, Acquisition Amount: 24000000 EUR
Company: ZYB, Acquisition Amount: 31500000 EUR
Company: Greenfield Online, Acquisition Amount: 40000000 EUR
Company: BioMed Central, Acquisition Amount: 43400000 EUR
Company: Tuenti Technologies, Acquisition Amount: 70000000 EUR

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [28]:
# Your Code

first_term = colec.find(
    {
        'acquisition.acquired_month': {'$gte': 1, '$lte': 4}
    }
).limit(10)

for doc in first_term:
    print(f"Company: {doc['name']}, Acquisition Amount: {doc['acquisition']['price_amount']}")

Company: StumbleUpon, Acquisition Amount: 29000000
Company: Kyte, Acquisition Amount: None
Company: Veoh, Acquisition Amount: None
Company: Jingle Networks, Acquisition Amount: 62500000
Company: NetRatings, Acquisition Amount: 327000000
Company: blogTV, Acquisition Amount: None
Company: Livestream, Acquisition Amount: None
Company: delicious, Acquisition Amount: None
Company: Jobster, Acquisition Amount: None
Company: Spock, Acquisition Amount: None

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code